Flask==3.0.1
requests==2.31.0
botbuilder-core==4.14.7
botbuilder-schema==4.14.7
botframework-connector==4.14.7
APScheduler==3.10.4
kubernetes==29.0.0
holidays==0.41
beautifulsoup4==4.12.3
oyaml==1.0
click-shell[readline]==2.1
pytz==2023.3.post1
aiohttp==3.9.1
